<html>

<th:block th:fragment="main_head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cine ABM</title>
    <link rel="stylesheet" href="/style.css">
</th:block>

<th:block th:fragment="nav_bar_usuario_logueado">
    <nav class="navbar">
        <a class="brand" href="/inicio">Cine ABM</a>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li><a href="/gestor_peliculas">Peliculas ABM</a>
            </li>
            <li>
                <a href="/ABM/gestor_salas">Salas ABM</a>
            </li>
            <li>
                <a href="/ABM/gestor_funciones">Funciones ABM</a>
            </li>
        </ul>
    </nav>
    <br>
</th:block>


</html>